$primary-color: hsl(257, 40%, 49%);

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-color: $primary-color;
  color: white;
  background-image: url("../images/bg-desktop.svg");
}

#logo {
  width: 10em;
  margin-bottom: 3.1em;
  margin-left: 0.6em;
  margin-top: 1.8em;

  img {
    width: 87%;
  }
}

#center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;


  img {
    width: 70%;
    height: auto;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

#content {
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 4em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.5em;
    font-weight: 700;
  }

  p {
    font-size: 1.3em;
  }
}

#content button {
  font-weight: bold;
  color: $primary-color;
  border-radius: 25px;
  width: 12em;
  height: 3em;
  background-color: white;
  box-shadow: 2px 3px 7px -2px #343434;
  border-width: 0;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 4.6em;
  margin-top: 0.2em;
  margin-bottom: 2.5em;

  button {
    color: white;
    font-weight: normal;
    margin: 0.5em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: 1px solid white;
    background-color: transparent;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 600px) {
  body {
    width: 370px;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }

  #logo img {
    width: 78%;
  }

  #social {
    justify-content: center;
    flex-direction: row;
    margin-right: 0em;
    margin-top: 3em;
  }

  #center {
    flex-direction: column;
    align-items: center;

    img {
      width: 85%;
    }

    #content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      margin-left: 0em;
      margin-right: 0em;
      margin-top: 0em;


      p {
        font-size: 1.0em;
        font-weight: 400;
        margin: 0em 1.2em 1.7em 1.2em;
        text-align: center;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-align: center;
        padding-left: 2.2em;
        padding-right: 2.2em;
        font-size: 1.5em;
        font-weight: 400;
        
      }

    }

  }


}